{% extends 'base.html' %} {% block content %}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div
      class="w-full mb-6 flex justify-between items-center border-b border-gray-200"
    >
      <a
        class="text-gray-500 hover:text-red-500"
        href="{% url 'leads:lead-list' %}"
        >Go back to leads</a
      >
    </div>
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm italic title-font text-gray-500 tracking-widest">
          Are you sure you want to delete this lead?
        </h2>
        <form method="post">
          {% csrf_token %} {{form.as_p}}
          {{lead.first_name}} {{lead.last_name}}
          <div class="flex justify-between items-center space-x-4">
            <button
              class="w-full flex ml-auto text-white justify-center bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
